.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0px 60px;
    color: inherit;
}

.navbar .brand {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .nav-items ul {
    list-style: none;
    display: flex;
    font-size: 1.4rem;
    gap: 40px;
}